@import '../../common/styles/main';

game > section {
  @include clearfix();
  background-color: #f3f3f3;
  display: block;

  @include mobile() {
    padding: 5px 10px 0;
  }

  @include desktop() {
    margin: 21px auto;
    padding: 0 15px;
    width: 760px;
  }

  .game__board {
    border: 3px solid #bbb;
    border-radius: 200px;
    margin: 10px auto 30px;
    padding: 20px 0;
    text-align: center;

    > h3 {
      margin: 5px 0;
    }

    @include desktop() {
      width: 70%;
    }
  }

  &.round--win .game__board {
    border-color: green;
  }

  &.round--loss .game__board {
    border-color: red;
  }

  &.round--tie .game__board {
    border-color: blue;
  }

  .game__board-computer,
  .game__board-user {
    .game__control-btn {

      &:before {
        content: '\f128';
      }
    }
  }

  .game__control-btn {
    display: block;
    text-transform: uppercase;
    font-weight: 600;

    &:before {
      @include fa-icon();
      display: block;
      font-size: 45px;
      margin: 0 0 10px;
      padding: 10px;
    }

    &.game__control-btn--rock:before {
      content: '\f255';
    }

    &.game__control-btn--paper:before {
      content: '\f1d9';
    }

    &.game__control-btn--scissors:before {
      content: '\f0c4';
    }
  }

  .game__messages {
    border-top: 2px solid #bbb;
    margin: 0;
    min-height: 65px;
    padding: 16px 0 0;
    text-align: center;
    text-transform: uppercase;

    > p {
      display: block;
      font-size: 22px;
      line-height: 1;
      font-weight: 600;
    }
  }

  .game__controls {
    margin: 0 0 10px;
    position: relative;

    ul {
      @include resetList();
    }

    .game__control {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }   
  }

  .game__control {
    border: 2px solid $color-body;
    border-radius: 3px;
    display: inline-block;
    width: calc((100% - 20px) / 3);
    overflow: hidden;
    text-align: center;

    &.active {
      border-color: $color-win;
    }
  }
}
