
<section ng-class="{ 
  'round--win' : $ctrl.round.winner == 'user',
  'round--loss' : $ctrl.round.winner == 'computer',
  'round--tie' : $ctrl.round.winner == 'none' }">

  <game-log></game-log>

  <div class="game__board">
    <div class="game__board-computer game__control">
        <div class="game__control-btn game__control-btn--{{ $ctrl.round.shapes.computer }}">
          <span>{{ $ctrl.round.shapes.computer || '???' }}</span>
        </div>      
    </div>
    <h3>VS</h3>
    <div class="game__board-user game__control">
        <div class="game__control-btn game__control-btn--{{ $ctrl.round.shapes.user }}">
          <span>{{ $ctrl.round.shapes.user || '???' }}</span>
        </div>      
    </div>
  </div>

  <div class='game__messages'>
    <p ng-if="!$ctrl.roundStates.active">Select a shape to start</p>
  </div>

  <div class="game__controls" ng-class="{ disabled: $ctrl.roundStates.active }">
    <ul>
      <li ng-repeat="shape in $ctrl.shapeOptions" class="game__control" ng-class="{ active: shape.id == $ctrl.lastSelectedUserShapeId }">
        <a href="" class="game__control-btn game__control-btn--{{ shape.id }}" role="button" ng-click="$ctrl.throwShape(shape.id)">
          <span>{{ shape.name }}</span>
        </a>
      </li>
    </ul>
  </div>

</section>