@import '../../../common/styles/main';

game-log {
  display: block;

  > ul {
    @include resetList();
    position: relative;

    .game-log__status {
      display: inline-block;
      padding: 15px 0 0;
      width: 50%;

      &.game-log__status--user {
        .game-log__indicator {
          background-color: $color-win;
          left: 0;
        }
      }

      &.game-log__status--computer {
        text-align: right;

        .game-log__indicator {
          background-color: $color-loss;
          right: 0;
        }
      }
    }

    .game-log__indicator {
      display: block;
      position: absolute;
      top: 0;
      height: 10px;
    }
  }

}
