
<ul>
  <li class="game-log__status game-log__status--user">
    <span class="game-log__indicator" style="width: {{ $ctrl.user.percentRoundsWon }}%;"><span class="sr-only">{{ $ctrl.user.percentRoundsWon }}</span></span>
    <p>You: {{ $ctrl.user.numRoundsWon }} ({{ $ctrl.user.percentRoundsWon }}%)</p>
  </li><!--
  --><li class="game-log__status game-log__status--computer">
  <span class="game-log__indicator" style="width: {{ $ctrl.computer.percentRoundsWon }}%"><span class="sr-only">{{ $ctrl.computer.percentRoundsWon }}</span></span>
    <p>Computer: {{ $ctrl.computer.numRoundsWon }} ({{ $ctrl.computer.percentRoundsWon }}%)</p>
  </li>
</ul>