@import '../../common/styles/main';

home {
  display: block;

  > header {
    padding: 10px 0 10px;
    text-align: center;

    > h1 {
      font-size: 24px;

      @include desktop() {
        font-size: 32px;
      }
    }
  }
}
