
// User select
// For selecting text on the page
@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select; // IE10+
  user-select: $select;
}

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
  &:before,
    &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// resetList
@mixin resetList() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// retina
@mixin retina() {
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    @content;
  }
}

// vertical alignment
@mixin verticalAlign() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin horizontalAlign() {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerAlign() {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

// vertical alignment (inside table or flex containers)
@mixin verticalAlignTableMiddle() {
  height: 100%;
  vertical-align: middle;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
